.div {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/766/308/889/spot-light-faded-wallpaper-preview.jpg');
    background-size:400%;
	background-position: center;  
	
}

form {
	padding:8px;
	border-radius:10px;
    display: inline-block;
    box-shadow: 0 0 0.2rem rgb(12 12 12), 0 0 0.2rem rgb(16 15 15 / 86%), 0 0 2rem rgb(5 10 6);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
    margin-left: -15px;
    background-color: rgb(126, 163, 199);   
}

.container input {
    background-color: #4CAF50;
    border-radius: 4px;
    cursor:pointer;
    width:300px;
    height: 20px;
	padding:4px 35px;
    padding-right: 15px;
	border-radius:3px;
	background-color:#f6f6f6;
    display: flex;
    margin: 20px;
}

.container label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
}

.btn {
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 12px;
    cursor:pointer;
}
.btn:hover {
    background-color: white;
    color: black;
    border: 2px black solid;
  }
  
  .container select {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
.container h2{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.btn_home button {
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 12px;
    cursor:pointer;
}

.btn_home button:hover {
    background-color: white;
    color: black;
    border: 2px black solid;
  }
  