.search {
    float: right;
}

.search button {
    margin-top: 8px;
    float: left;
    margin-right: 20px;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 12px;
    cursor:pointer;
}

.search input {
    float: left;
    margin-left: -170px;
    margin-top: 10px;
    padding: 5px 5px;
    color: black;
    border: 1px black solid;
    width: 150%;
    height: 18px;
}

.btn_detail{
    float: left;
}